---
interface Props {
  title: string;
  message: string;
  media?: string;
  index: number;
  type: "image" | "video";
}

const { title, message, media, index, type } = Astro.props;
---

<div
  id={`notification-card-${index}`}
  class="relative z-0 w-[256px]  md:w-[187px] rounded-[20px] md:rounded-[14px] origin-top shadow-lg backdrop-blur-lg py-4 md:py-3 px-[12.5px] md:px-[9.5px] mb-2 pointer-events-none"
  data-index={index}
  style="background-color: #FFFFFF40;"
>
  <div class="relative z-10 flex items-start gap-3 md:gap-2">
    <div class="flex-shrink-0  bg-zinc-200 rounded overflow-hidden">
      {media && type === "video" && <video src={media} autoplay loop muted playsinline class="size-[20px] md:size-[11px]  object-cover"/>}
      {media && type === "image" && <img src={media} alt={title} class="w-[25px] h-[30px] md:w-4.5 md:h-5.5  object-cover"/>}
    </div>

    <div class="flex-1 min-w-0 space-y-1">
      <h4 class="text-[14.5px] md:text-[10.5px] leading-none font-light text-[#90908E] truncate whitespace-nowrap">
        {title}
      </h4>
      <p class="text-[14.5px] md:text-[10.5px] leading-none font-medium text-[#2D2D2D] whitespace-nowrap">
        {message}
      </p>
    </div>
  </div>
</div>
