---
interface Props {
  title: string;
  message: string;
  avatar?: string;
  time: string;
  type?: "message" | "alert" | "update";
  index: number;
}

const { title, message, avatar, time, type = "message", index } = Astro.props;
---

<div
  id={`notification-card-${index}`}
  class="relative z-0 w-full rounded-xl shadow-lg backdrop-blur-xs py-3 px-2.5 mb-2"
  data-index={index}
  data-type={type}
  style="background-color: #FFFFFF40;"
>
  <!-- <div class="absolute z-0 top-0 left-0 w-full h-full bg-white/1 backdrop-blur-3xl rounded-xl"/> -->
  <div class="relative z-10 flex items-start gap-3">
    <div class="flex-shrink-0 w-8 h-8 flex items-center justify-center">
      {avatar && <span class="text-white text-xs font-medium">{avatar}</span>}
    </div>

    <div class="flex-1 min-w-0 space-y-1">
      <h4 class="text-sm leading-none font-normal text-[#90908E] truncate">
        {title}
      </h4>
      <p class="text-sm leading-none font-medium text-[##2D2D2D] line-clamp-2">
        {message}
      </p>
    </div>
  </div>
</div>
